<div class="user-details">
    <h1> Mijn websites </h1>
    <p> {{site.user_description}} </p>
  </div>
    <div class="user">
      <div class="tech">
        <h2><a class="link" href="https://info.tristanhollander.nl">Meer over mij</a></h2>
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        <p>Hier kom je meer over mij als een persoon te weten. Kijk snel! 😀</p>
      </div>
      <div class="tech">
        <h2><a class="link" href="https://docs.tristanhollander.nl">Documentatie</a></h2>
        <i class="fa fa-book" aria-hidden="true"></i>
        <p>Hier vindt je al mijn documentatie en alle bijbehorende documenten.</p>
      </div>
      </div>
  </div>
  